body {
    background-color: #141414;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1; 
}

.navbar-brand {
    font-size: 3rem;
    font-weight: bold;
    color: red;
    padding: 0px 35px;
}

.form-container {
    max-width: 500px;
    margin: 80px auto;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
}

.btn-primary {
    background-color: red;
    border: none;
}

.btn-primary:hover {
    background-color: rgba(255, 0, 0, 0.829);
}

.form-label {
    color: #b3b3b3;
}

.form-control {
    background-color: #333;
    color: white;
    border: none;
}

.form-control:focus {
    background-color: #444;
    color: white;
}