body {
    background-color: rgb(211, 211, 211);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, main {
    flex: 1; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(57, 70, 76);
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0px 5px;
    background-color: rgb(194, 178, 128);
    border-radius: 10%;
}

nav a {
    color: rgb(245, 245, 220);
    text-decoration: none;
    padding: 0px 15px;
}

.slogan {
    flex-direction: column;
    justify-content: center;
}

.slogan h1 {
    font-size: 40px;
    margin: 0%;
    padding: 0%;
    border: 0;
}

.slogan h6 {
    color: rgb(245, 245, 220);
    margin: 0%;
    padding: 0%;
    border: 0;
}

#main-section {
    padding: 20px;
    text-align: center;
}

.section-heading {
    font-size: 2rem;
    color: #312727;
}

.profile-section {
    padding: 20px;
}

.profile-section .section-heading {
    font-size: 1.8rem;
    color: #312727;
    margin-bottom: 10px;
}

.profile-section .media-list {
    list-style-type: none;
    padding: 0;
}

.media-item {
    margin-bottom: 10px;
}

.media-thumbnail {
    margin-right: 10px;
    border-radius: 5px;
    vertical-align: middle;
}

.watch-history .media-list, .favorites .media-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.watch-history .media-item, .favorites .media-item {
    width: 30%;
    text-align: center;
}

.watch-history .media-thumbnail, .favorites .media-thumbnail {
    width: 150px;
    height: auto;
}

#footer-section {
    background-color: rgb(57, 70, 76);
    color: rgb(211, 211, 211);
    text-align: center;
    padding: 20px 0;
    margin-top: auto; 
}

.footer-info p {
    margin: 5px 0;
}

@media (max-width: 768px) {
    #navbar .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .watch-history .media-item, .favorites .media-item {
        width: 100%;
    }
}