body {
background-color:rgb(211, 211, 211) ;
margin: 0px;
display: flex;
flex-direction: column;
min-height: 100vh;
}

nav {
display: flex;
justify-content: space-between;
align-items: center;
background: rgb(57, 70, 76);
padding: 10px;

}

nav ul {
list-style: none;
display: flex;
}

nav li {
margin: 0px 5px;
background-color: rgb(194, 178, 128);
border-radius: 10%;

}


nav a {
color: rgb(245, 245, 220);
text-decoration: none;
padding: 0px 15px;
}
.slogan{
    flex-direction: column;
    justify-content: center;
}
.slogan h1{
    font-size: 40px;
    margin: 0%;
    padding: 0%;
    border: 0cap;
}
.slogan h6{
    margin: 0%;
    padding: 0%;
    border: 0cap;
}
.film-scroller {
    margin: 1%;
    display: flex;
    overflow-x:auto;
    background-color:#312727;
    border: 20px solid rgb(57, 70, 76);
}
  
  
.film-scroller img {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    align-items: center;
    max-width: 350px;
    object-fit: contain;
    
  }
.popular{
    margin: 1%;
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;

  }
footer{
    margin-top: auto;
    color: rgb(211, 211, 211);
    background-color: rgb(57, 70, 76);
}


nav a:hover {
color: #B76015;
}
nav li:hover {
background-color: #a16060;
}
.signup {
font-size: large;
}
.quote{
    text-align: center;
    font-size: 39px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: 700;
    margin: 5%;
}
.recomendations{
    margin: 1%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr)); 
    grid-gap: 100px; 
    justify-items: center; 
    align-items: center; 
  }
.recomendations img{
    object-fit: contain;
    max-width: 100%;
    height: auto;
}
.recomendations-word{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38;
    font-weight: bold;
    margin: 1%;
}
.search{

    margin: 10px;
}
.search p{
    margin: 0;
}
.search h1{
    background-color: #312727;
    font-size: 50;
    font-weight: 900;
    margin: 0;
}
.search select{
    margin: 0%;
    height: 40px;
    font-size: 20px;

}
.search input{
  width: 300px;
  height: 30px;
  padding: 15px;
  font-size: 20px;
  border: 2px solid rgb(57, 70, 76);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}