body {
background-color:rgb(211, 211, 211) ;
margin: 0px;
}

nav {
display: flex;
justify-content: space-between;
align-items: center;
background: rgb(57, 70, 76);
padding: 10px;

}

nav ul {
list-style: none;
display: flex;
}

nav li {
margin: 0px 5px;
background-color: rgb(194, 178, 128);
border-radius: 10%;

}


nav a {
color: rgb(245, 245, 220);
text-decoration: none;
padding: 0px 15px;
}
.slogan{
    flex-direction: column;
    justify-content: center;
}
.slogan h1{
    font-size: 40px;
    margin: 0%;
    padding: 0%;
    border: 0cap;
}
.slogan h6{
    margin: 0%;
    padding: 0%;
    border: 0cap;
}
.film-scroller {
    overflow-x: scroll;
    white-space: nowrap; 
    
}


nav a:hover {
color: #B76015;
}
nav li:hover {
background-color: #a16060;
}


.signup {
font-size: large;
}