body {
    background-color: #f0f0f0; 
}
nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0 5px;
    background-color: rgb(194, 178, 128);
    border-radius: 10%;
}

nav a {
    color: rgb(245, 245, 220);
    text-decoration: none;
    padding: 0 15px;
}

nav a:hover {
    color: #B76015;
}

nav li:hover {
    background-color: #a16060;
}

.slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    color: rgb(211, 211, 211);
    background-color: rgb(57, 70, 76);
    text-align: center;
    padding: 10px;
}

.signup {
    font-size: large;
}

section {
    margin: 20px;
}


.social-icons {
    text-align: center;
}

.social-icons img {
    display: inline-block;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.tops {
    margin: 0;
    display: flex;
    overflow-x:auto;
    background-color: white;
    border: 20px solid rgb(57, 70, 76);
}

img {
    margin: 10px;
    width: 300px;
    height: 300px;
}

/* Styles for creators section */
.creators {
    text-align: center;
    margin: 50px 0;
}


.creators img {
    width: 150px; /* Размер по ширине */
    height: 150px; /* Размер по высоте */
    object-fit: cover; /* Сохранение пропорций */
    border-radius: 50%; /* Закругление для аватарок */
    margin: 10px auto; /* Центрирование и отступы */
}

.creator p {
    font-size: 1.2em;
    font-weight: bold;
}


